.subscription {
  display: flex;
  margin-top: 20px; 
  margin-bottom: 30px;
  padding: 10px;
  color: var(--black-color);
  border-radius: 10px;

  &-img {
    display: flex;
    min-width: 150px;
    height: 150px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background: linear-gradient(45deg, rgb(83, 114, 240), rgb(116, 140, 241, 0.5));
    border-radius: 10px;
    font-size: 8rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    transition: all 0.3s ease-in;
  }

  &-title {
    font-size: 2rem;
    font-weight: 600;
  }

  &-form {
    margin-top: 5px;
  }

  &-input {
    width: 500px;
    max-width: 100%;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: 2px solid #c5c5c5;
    border-radius: 10px;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 400;
    transition: all 0.3s ease-in;

    &:focus {
      border-color: var(--primary-color);
    }
  }

  &-btn {
    height: 100%;
    margin-left: 10px;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 400;

    &:hover {
      cursor: pointer;
      background-color: var(--light-primary-color);
    }
  }
}

.toggle-btn {
  width: 250px;
  padding: 5px;
  padding-left: 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-color);
  text-align: left;
  border: none;
  background: transparent;
  
  &:hover {
    cursor: pointer;
    color: var(--light-primary-color);
  }
}