.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  position: relative;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);

  &-text {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white-color);
  }
}

.body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-info {
  width: 500px;
  height: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white-color);
}

.search {
  display: flex;
  margin-top: 20px;
  background-color: var(--gray-color);
  border-radius: 10px;

  &-input {
    width: 200px;
    margin: 0 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &-btn {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: var(--primary-color);    
    font-size: 2rem;

    &:hover {
      cursor: pointer;
      color: var(--light-primary-color);
    }
  }
}

.weather {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: var(--black-color);

  &-icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
  }

  &-temp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &-degree {
      font-size: 8rem;
      font-weight: 400;
    }

    &-unit {
      display: block;
      height: 100%;
      margin: 10px 0 0 5px;
      font-size: 5rem;
      font-weight: 400;
      position: relative;

      &::before {
        content: '';
        width: 5px;
        height: 5px;
        border: 2px solid var(--black-color);
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: -7px;
      }
    }
  }

  &-info {
    margin: 0 100px;
    text-align: center;
    text-wrap: wrap;
    font-size: 2rem;
    font-weight: 400;
  }

  &-date {
    font-size: 2rem;
    font-weight: 400;
  }

  &-text {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &-date + &-text {
    margin-top: 20px;
  }

  &-text + &-text {
    margin-top: 5px;
  }

  &-location {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    text-wrap: wrap;
    font-size: 3.5rem;
    font-weight: 400;
  }
}

.seperate {
  width: calc(100% - 200px);
  height: 3px;
  margin: 20px 0;
  background-color: var(--gray-color);
}


.history {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: var(--primary-color);

  &:hover {
    cursor: pointer;
    color: var(--light-primary-color);
  }

  &-icon {
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
  }

  &-text {
    font-size: 1.7rem;
  }
}

.options {
  flex: 1;
  max-height: calc(100vh - 70px);
  height: 100%;
  padding: 0 30px;
  background-color: var(--gray-color);
  overflow: auto;
}