@import '../../components/GlobalStyles/responsive.scss';

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  position: relative;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);

  @include tablet {
    min-height: 70px;
  }

  @include mobile {
    min-height: 70px;
  }

  &-text {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white-color);
  }
}

.body {
  flex: 1;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }
}

.main-info {
  width: 500px;
  height: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);

  @include tablet {
    width: 100%;
    height: unset;
  }

  @include mobile {
    width: 100%;
    height: unset;
  }
}

.search {
  display: flex;
  margin-top: 20px;
  background-color: var(--gray-color);
  border-color: var(--white-color);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  transition: all 0.3s ease-in;

  @include mobile {
    width: calc(100% - 40px);
    margin-bottom: 20px;
  }

  &:focus-within {
    border-color: var(--primary-color);
  }
  
  &-input {
    width: 200px;
    margin: 0 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.6rem;
    font-weight: 400;

    @include tablet {
      width: 300px;
    }

    @include mobile {
      flex: 1;
    }
  }

  &-btn {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: var(--primary-color);    
    font-size: 2rem;

    &:hover {
      cursor: pointer;
      color: var(--light-primary-color);
    }
  }
}

.weather {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: var(--black-color);

  @include tablet {
    width: 100%;
    flex-direction: row;
  }

  @include mobile {
    width: 100%;
    flex-direction: row;
  }
  
  &-part {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tablet-right {
    @include tablet {
      flex-direction: column-reverse;
    }

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &-icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
  }

  &-temp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &-degree {
      font-size: 8rem;
      font-weight: 400;

      @include mobile {
        display: none;
      }
    }

    &-unit {
      display: block;
      height: 100%;
      margin: 10px 0 0 5px;
      font-size: 5rem;
      font-weight: 400;
      position: relative;

      @include tablet {
        margin-top: 0;
        text-align: start;  
        transform: translateY(-10px);
      }

      @include mobile {
        display: none;
      }

      &::before {
        content: '';
        width: 5px;
        height: 5px;
        border: 2px solid var(--black-color);
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: -7px;
      }
    }
  }

  &-info {
    margin: 0 100px;
    text-align: center;
    text-wrap: wrap;
    font-size: 2rem;
    font-weight: 400;

    @include mobile {
      width: 100%;
      margin: 0;
    }
  }

  &-date {
    font-size: 2rem;
    font-weight: 400;
  }

  &-text {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &-date + &-text {
    margin-top: 20px;
    
    @include tablet {
      margin-top: 0;
      margin-bottom: 20px;
    }

    @include mobile{
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &-text + &-text {
    margin-top: 5px;
  }

  &-location {
    width: calc(100% - 100px);
    margin-top: 20px;
    text-align: center;
    text-wrap: wrap;
    font-size: 3.5rem;
    font-weight: 400;
    display: -webkit-box;       
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;       
    overflow: hidden;           
    text-overflow: ellipsis;     
    white-space: normal;    
    
    @include tablet {
      margin-top: 0;
      margin-bottom: 20px;
    }

    @include mobile {
      width: 100%;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

.seperate {
  width: calc(100% - 200px);
  height: 3px;
  margin: 20px 0;
  background-color: var(--gray-color);

  @include tablet {
    display: none;  
  }

  @include mobile {
    display: none;  
  }
}


.history {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: var(--primary-color);

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 20px;
  }

  &:hover {
    cursor: pointer;
    color: var(--light-primary-color);
  }

  &-icon {
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
  }

  &-text {
    font-size: 1.7rem;
  }

  &-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    animation: overlayAnimation 0.3s ease-in;
  }

  &-modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: calc(100% - 30px);
    height: 500px;
    padding: 30px;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 10px;
    position: relative;
    animation: historyAnimation 0.3s ease-in;
  }

  &-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: var(--black-color);
    font-size: 3rem;
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      cursor: pointer;
      color: var(--primary-color);
    }
  }

  &-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
  }

  &-list {
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: 30px;
    flex-direction: column-reverse;
    list-style: none;
    overflow: auto;
  }

  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--black-color);

    &-content {
      flex: 1;
      display: flex;
      margin-right: 10px;
      align-items: center;
      justify-content: space-between;
    }

    &-heading {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-img {
      display: block;
      width: 64px;
      height: 64px;
      object-fit: cover;
      overflow: hidden;
    }

    &-name {
      max-width: 200px;
      margin-left: 5px;
      font-size: 1.8rem;
      font-weight: 500;
      overflow: hidden;
    }

    &-text {
      font-size: 1.6rem;
      font-weight: 400;
    }

    &-show {
      height: 30px;
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color: var(--primary-color);
      color: var(--white-color);
      font-size: 1.6rem;
      font-weight: 400;

      &:hover {
        cursor: pointer;
        background-color: var(--light-primary-color);
      }
    }
  }
}

@keyframes overlayAnimation {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes historyAnimation {
  from {
    transform: scale(0);
    opacity: 0;
  } to {
    transform: scale(1);
    opacity: 1;
  }
}

.options {
  flex: 1;
  max-height: calc(100vh - 70px);
  width: 100%;
  height: 100%;
  padding: 0 30px;
  background-color: var(--gray-color);
  overflow: auto;

  @include mobile {
    padding: 0 15px;
  }

  @include tablet {
    max-height: unset;
    overflow: unset;
  }

  @include mobile {
    max-height: unset;
    overflow: unset;
  }
}

.display-flex {
  display: flex;
}